:root {
  --primary-color: hsl(0, 0%, 93%);
  --secondary-color: hsl(210, 79%, 56%);
  --accent-color: hsl(212, 80%, 42%);
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
